<!-- footer -->
<div class="footer">
    <div class="footerContent">
        <div class="footRow footRow1 dawaaiiLink1">
            <h2>DAWAAII.COM</h2>
            <div class="firstList">
                <ul>
                    <li><p><a href="#">Blog</a></p></li>
                    <li><p><a href="#">F.A.Q</a></p></li>
                    <li><p><a href="#">Home</a></p></li>
                    <li><p><a href="#">Career</a></p></li>
                    <li><p><a href="#">Join Us</a></p></li>
                    <li><p><a href="#">About Us</a></p></li>
                </ul>
            </div>
            <div class="secondList">
                <ul>
                    <li><p><a href="#">Disclaimer</a></p></li>
                    <li><p><a href="#">Specialities</a></p></li>
                    <li><p><a href="#">Contact Us</a></p></li>
                    <li><p><a href="#">Privacy Policy</a></p></li>
                    <li><p><a href="#">Refund Policy</a></p></li>
                    <li><p><a href="#">Advertise With Us</a></p></li>
                </ul>
            </div>
        </div>
        <div class="footRow footRow2 newsletter1">
            <h2>NEWSLETTER</h2>
            <p>Sign up with your name and email to get updates fresh updates.</p>
            <div><!-- form -->
                <div class="textInput name">
                    <input type="text" name="name" placeholder="Your Name"/>
                </div>
                <div class="textInput email">
                    <input type="text" name="email" placeholder="Email Address"/>
                </div>
                <div class="submitBttn">
                    <input class="shadow" type="submit" value="SUBSCRIBE"/>
                </div>
            </div><!-- /form -->
        </div>
        <div class="footRow footRow3 latestNews1">
            <h2>LATEST TWEETS</h2>
        </div>
        <div class="footRow footRow4 touchLink1">
            <h2>GET IN TOUCH</h2>
            <h3>STRIVE Services</h3>
            <p class="firstPara">STRIVE Services, Horam Singh Complex, Sector-15, Noida, U.P 201301</p>
            <p class="secondPara"><a href="#">www.dawaaii.com</a></p>
            <p class="thirdPara"><a href="tel:120-4567335">120-4567335</a></p>

        </div>
        <!-- only for mob -->
        <div class="leftColFooter footRow onlyMob">
            <div class="targetCont dawaaiiLink">
                <h2>DAWAAII.COM</h2>
                <div class="firstList">
                    <ul>
                        <li><p><a href="#">Blog</a></p></li>
                        <li><p><a href="#">F.A.Q</a></p></li>
                        <li><p><a href="#">Home</a></p></li>
                        <li><p><a href="#">Career</a></p></li>
                        <li><p><a href="#">Join Us</a></p></li>
                        <li><p><a href="#">About Us</a></p></li>
                    </ul>
                </div>
                <div class="secondList">
                    <ul>
                        <li><p><a href="#">Disclaimer</a></p></li>
                        <li><p><a href="#">Specialities</a></p></li>
                        <li><p><a href="#">Contact Us</a></p></li>
                        <li><p><a href="#">Privacy Policy</a></p></li>
                        <li><p><a href="#">Refund Policy</a></p></li>
                        <li><p><a href="#">Advertise With Us</a></p></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="rightColFooter onlyMob">
            <div class="appBttns">
                <div class="appsDwnld">
                    <a href="#"><img title="google play" alt="google play"  src="images/g_play.jpg"/></a>
                </div>
                <div class="appsDwnld">
                    <a href="#"><img title="app store" alt="app store"  src="images/app_store.jpg"/></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="combinedBttns">
                <div class="clickBoxes preFirstBox active" id="dawaaiiLink">
                    <a href="javascript:void(0)">DAWAAII.COM</a>
                </div>
                <div class="clickBoxes firstBox" id="touchLink">
                    <a href="javascript:void(0)">GET IN TOUCH</a>
                </div>
                <div class="clickBoxes secondBox" id="newsletter">
                    <a href="javascript:void(0)">NEWSLETTER</a>
                </div>
                <div class="clickBoxes thirdBox" id="latestNews">
                    <a href="javascript:void(0)">LATEST TWEETS</a>
                </div>
            </div>
        </div><!-- /only for mob -->
        <!-- social sites -->
        <div class="shareIconsCont">
            <div class="shareIcons">
                <a href="#"><img title="facebook" alt="facebook"  src="images/fb_icon.png"/></a>
            </div>
            <div class="shareIcons">
                <a href="#"><img title="tweeter" alt="tweeter"  src="images/tweet_icon.png"/></a>
            </div>
            <div class="shareIcons">
                <a href="#"><img title="linkdIn" alt="linkdIn"  src="images/lkin_icon.png"/></a>
            </div>
            <div class="shareIcons">
                <a href="#"><img title="google plus" alt="google plus"  src="images/gplus_icon.png"/></a>
            </div>
            <div class="shareIcons">
                <a href="#"><img title="RSS Feed" alt="RSS Feed"  src="images/rss_icon.png"/></a>
            </div>
            <div class="shareIcons">
                <a href="#"><img title="youtube" alt="youtube"  src="images/ytube_icon.png"/></a>
            </div>
            <div class="shareIcons">
                <a href="#"><img title="pin it" alt="pin it"  src="images/pin_icon.png"/></a>
            </div>
            <div class="clear"></div>
        </div><!-- /social sites -->
        <div class="clear"></div>
    </div>
    <div class="copyrightText">
        <div class="copyrightTextCont">
            <p>Copyright @ 2015 Strive Services. All Rights Reserved.</p>
        </div>
    </div>
</div>
<!-- /footer -->