<!-- header -->
<div class="header">
    <!-- topBar -->
    <div class="topBar">
        <div class="topBarContent">
            <!-- topLeftPart -->
            <div class="topLeftPart">
                <div class="locationInfo" ng-controller="PageCtrl">
                    <p><span> </span> {{userAddress}} <a href="#">(Change)</a></p>
                </div>
            </div><!-- /topLeftPart -->
            <!-- topRightPart -->
            <div class="topRightPart">
                <div class="topBarIcon locationCont">
                    <p><a href="#"><img title="cart" alt="My Cart"  src="images/location_icon.png"/></a></p>
                </div>
                <div class="topBarIcon favCont">
                    <p><a href="#"><img title="cart" alt="My Cart"  src="images/fav_icon.png"/></a></p>
                </div>
                <div class="topBarIcon cartCont">
                    <p><a href="#"><img title="cart" alt="My Cart"  src="images/cart_icon.png"/></a></p>
                </div>
                <div class="topBarText joinUsCont">
                    <p><a href="#">Join Us</a></p>
                </div>
                <div class="topBarText signUpCont">
                    <p><a href="#">Sign Up</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /topRightPart -->
            <div class="clear"></div>
        </div>
    </div><!-- /topBar -->
    <!-- logoBar -->
    <div class="logoBar">
        <!-- logo -->
        <div class="logoCont">
            <h1><a href="#/"><img title="dawaaii.com" alt="Home"  src="images/logo.png"/></a></h1>
        </div><!-- /logo -->

        <!-- navigation -->

        <div class="nav">
            <ul>
                <li class="firstItem"><p><a href="#">PRODUCTS</a></p></li>
                <li><p><a href="#">SERVICES</a></p></li>
                <li><p><a href="#">TOOLS</a></p></li>
                <li><p><a href="#">SUPPORT</a></p></li>
                <li class="lastItem"><p><a href="#">LATEST NEWS</a></p></li>
            </ul>
            <div class="clear"></div>
        </div><!-- /navigation -->

        <!-- utilityCont -->
        <div class="utilityCont">
            <!-- Search -->
            <div class="searchCont">
                <a href="#"><img title="Search" alt="Search"  src="images/search.jpg"/></a>
            </div><!-- /Search -->
            <div class="phoneCont">
                <a href="#"><img title="phone number" alt="phone number"  src="images/phone_icon.jpg"/></a>
            </div>
            <div class="clear"></div>
        </div><!-- /utilityCont -->
        <div class="menuBttn"><p><a href="javascript:void(0)">MENU</a></div>
        <div class="clear"></div>
    </div><!-- /logoBar -->

</div><!-- /header -->
